<h1>Demo#index</h1>
<%# links the html way %>
<a href="/demo/hello">Hello page 1</a><br />

<%# links the ruby way %>
<%= link_to('Hello page 2', {:action => 'hello'})%><br />
<%# puts will not work. instead you use '=' to output to page%>
<%=
  target= 'world'
  "Hello #{target}"
%>

<%# how to use instance vars from controller%>
<% @array.each do |n| %>
<%= n %><br />
<% end %>

<%# links with parameters the ruby way %>
<%= link_to('Hello with parameters', {:action => 'hello',
  :page =>5, :id => 20})
%><br />
