<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PARadio Stream</title>
    <script language="javascript" type="text/javascript" src="../swfobject.js"></script>
</head>

<body>
  <h1>Test Stream!</h1>
  <audio controls autoplay="true">
    <source src="http://54.191.224.62:8000/ices" type="audio/ogg">
  </audio>
</body>
</html>
