<div class="push"></div>
<div class="footer">
  <div class="container">
    <div id="site-description" class="<%= setCols(6) %><%= setColOffset(1) %>">
      Site Description
    </div>
    <div id="social" class="<%= setCols(4) %>">Social</div>
  </div>
</div>
