<% if !flash[:notice].blank? %>
  <div class = "notice row alert alert-info dismissable">
    <%= flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
<% end %>
