<%@page_title="Home"%>
<div class="home index">
  <div class="row">
    <div id="homeCarousel" class="carousel slide" interval=5000 data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%=image_tag('/images/dwight.jpg')%>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div id="about" class="row">
    <div class="container">
      <div class="row">
        <h3 class="section-heading">About Us<h3>
      </div>
      <div class="row">
        <div id="mission" class="panel <%= setCols(4)%>">
          <div class="panel-heading"> Mission </div>
          <div class="panel-body">Image of some inspiring stuff</div>
        </div>
        <div id="team" class="panel <%= setCols(4)%>">
          <div class="panel-heading"> Team </div>
          <div class="panel-body"> Image of our current team </div>
        </div>
        <div id="goal" class="panel <%= setCols(4)%>">
          <div class="panel-heading">Vision</div>
          <div class="panel-body"> Image of an eye or something majestic </div>
        </div>
      </div>
    </div>
  </div>
</div>
