<% @page_title="Update Show" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class=>"back-link") %>

<div class="shows update">
  <h2>Update Show</h2>

  <%= form_for([:admin, @show]) do |f| %>
    <%= render(:partial => "form", :locals=>{:f=>f})%>
    <div class="form-buttons">
      <%= submit_tag("Update Show")%>
    </div>
  <% end %>
</div>
