<% @page_title="Create Show" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class=>"back-link") %>

<div class="shows new">
  <h2>Create Show</h2>

  <%= form_for([:admin, @show], html: { multipart: true }) do |f| %>

    <%= render(:partial => "form", :locals=>{:f=>f})%>

    <div class="form-buttons">
      <%= submit_tag("Create Show")%>
    </div>
  <% end %>
</div>
