<%@page_title="Listen"%>
<div class="container">
  <h2>Now Playing: <% if @currentItem %><%= @currentItem.episode.name %><% else %>Nothing<% end %></h2>
  <audio controls>
    <source src="http://54.191.141.112:8000/livestream" type="audio/ogg">
  Your browser does not support the audio element.
  </audio>
</div>
