<%@page_title="Listen"%>
<div class="container">
  <h2>Now Playing: <% if @currentItem %><%= @currentItem.episode.name %><% end %></h2>
  <audio controls>
    <source src="http://54.191.224.62:8000/ices" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
</div>
