// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home{
  #carousel{
    .carousel-inner{
      max-height:500px;
      .item{
        background-color:black;
        img{
          width:100%;
          margin:auto;
        }
        a{
          img{
            width:70%;
            margin:auto;
          }
        }
      }
    }
  }

  .main-section{
    padding:0px 100px 0px 100px;
    background-color: white;
  }
}
