html, body{
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#main-container{
  padding: 0px 0px 0px 0px;
  //height:100%;
  .row{
    margin:0;
    height:100%
  }
}

#topnav{
  .navbar-header{
    padding-top:20px;
    .navbar-brand{
      font-size: 2em;
      color:#fff;
    }
  }
  .nav{
    .fill{
      height:45px;
    }
    .user-access{
      a{
        color:#fff;
      }
      .dropdown-item{
        a{
          color:#000;
        }
      }
      height:45px;
      padding:10px 10px 10px 0px;
      padding-right:10px;
      padding-bottom: 10px;
    }
    .navbar-item{
      
      border-left:1px solid #F6F7EB;
      .navbar-link{
        display: block;
        text-align: center;
        font-size: 1.2em;
        color:#fff;
        margin-left: auto;
        margin-right: auto;
      }
    }
    margin-right:0;
    padding:0
  }
  height:75px;
  background-color:#AF1818;
  border:none;
  border-radius:0px;
  box-shadow: 0px 2px 3px #888888;
  margin-bottom:0;
  z-index: 999;
}

#sidenav{
  box-shadow: 2px 0px 5px #888888;
  background-color: #F6F7EB;
  height:100%;
  padding: 0;

  li {
    padding-left: 20px;
    margin:0;
    border-bottom: 1px solid grey;
    a{
      color:#000;
    }
  }
  li.active{
    a{
      color:#FFF;
    }
    :hover{
      background-color: #7C615D;
    }
    background-color: #7C615D;
  }

}

#main-content{
  padding:10px 10px 10px 10px;
  .notice{
    margin-top: 15px;
  }
}
