// Place all the styles related to the Streamitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
li .active{
  background-color: "blue" !important;
}
#livestreamHeader{
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}
#dateChooser{
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.table{
  margin-top: 5px;
}
.progress{
  height: 34px;
  margin-bottom: 0px;
}
.progress-text{
  margin-top: 8px;
  text-align: center;
}

.checkbox{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 53px;
}
