<% @page_title="Update Episode" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class=>"back-link") %>

<div class="episodes update">
  <h2>Update Episode</h2>

  <%= form_for(@episode) do |f| %>
    <%= render(:partial => "form", :locals=>{:f=>f})%>
    <div class="form-buttons">
      <%= submit_tag("Update Episode")%>
    </div>
  <% end %>
</div>
